/.phpunit.cache
/node_modules

/vendor
/produtos
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/storage/arquivos
/public/storage/images
/public/storage/pedidos
/public/storage/public/pedidos

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
